<header class="main">

<div class="row">
  <%=link_to root_path , class:"logo" do%>ArtG<%end%>
  <div class="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navbar-collapse">
    <nav>
      <ul>
        <li><%=link_to "Список художників", artists_path()%></li>
        <li><%=link_to "Список РОБІТ", arts_path()%></li>
        <li>
          <%if @artist %>
            <%=link_to @artist.name, artist_arts_path(@artist.name)%>
          <%else%>
            ХуДОЖНИК НЕ обраний
          <%end%>
        </li>
        <li>
          <%if !@current_artist %>
            <%=link_to "Я художник" , session_path%>
          <%else%>
            <%=@current_artist.name%>
            <%=link_to "Exit", session_path, method: :delete%>
          <%end%>
        </li>
      </ul>
    </nav>
  </div>
</div> <!-- / row -->

</header>