
  
  <header class="main">

    <div class="row">
        <%=link_to root_path , class:"logo" do%>ArtG
          <%end%>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <div class="navbar-collapse">
      <ul>
        <li><%=link_to "List arts"%></li>
        <li>
              <%if @artist %>
                <%=@artist.name%>
              <%else%>
                <%if !@current_artist %>
              <%=link_to "Я художник" , sign_in_path%>
            <%else%>
              <%=@current_artist.name%>
              <%=link_to "Exit", session_down_path, method: :delete%>
            <%end%>
              <%end%>
        </li>
      </ul>
        </nav>

    </div> <!-- / row -->

</header>